services:
  app:
    build:
      context: .
    ports:
      - target: 8000
        published: 8080
        protocol: tcp
        mode: host
    volumes:
      - type: bind
        source: ./app
        target: /app
    command:
      - sh
      - -c
      - python manage.py runserver 0.0.0.0:8000
